@import url('https://fonts.googleapis.com/css2? family=Noto+Sans+KR:wght@300&display=swap');

body {

  font-family : 'Noto Sans KR', sans-serif ;
}

nav {
  box-shadow: 0 2px 4px -4px rgb(116, 116, 116);
}

.nav-top {
  background: rgb(116, 116, 116)
}
