body{
    background-image: url("../../../../src/assets/images/e-ticketing-log.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top:50%;
}
b{
    padding: 5px;
    background-color:green;
}
h1{
        margin-bottom: 3%;

}
a{
    color: white;
}
.container{
    margin-top: -600px;
    /* margin:auto; */
}
button{
    font-size: 2em;
    font-weight: bold;
    color:white;
    background-color: green;
    border:0;
    padding: 10px 50px;
    transform: skew(-15deg);
    cursor: pointer;
    transition:0.2s;
    box-shadow: 15px 15px 0px black;
}

button:hover{
    padding: right 80px;
    box-shadow: 15px 15px 0px rgb(34, 177, 76);;

}

span.arrow{
    margin-left:25px; 
    position:relative;
    transform: skew(15deg) !important;


}

span.arrow i{
    transform: skew(15deg);
    color:white;
    transition:0.2s; 

}

span.arrow i:nth-child(2){
    position:absolute;
    right:0;
    top:6px;
    animation-delay: 0.5s;

}

span.arrow i:nth-child(3){
    position:absolute;
    right:0;
    top:6px;
    animation-delay: 1s;


}

button:hover i:nth-child(2) {
    right: -20px;
}

button:hover i:nth-child(3) {
    right: -40px;
}

button:hover i {
    animation:color 2s infinite linear;

}

@keyframes color{
    0%{
        color: white;

    }

    50%{
        color:green;
    }

    100%{
        color: white;

    }
}
