
<body>
    <div class="container">
        <div>
            <h1>BIEVENUE SUR <b>E-TICKETING</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda</p>

                <!-- <br><br> -->
                    
                    <br>
                    <button routerLink="/add-ticket">
                        <span>Ouvrir un Ticket</span>


                        <span class="arrow">
                            <i class="fas fa-chevron-right"></i>
                            <i class="fas fa-chevron-right"></i>
                            <i class="fas fa-chevron-right"></i>
                            
                        </span>
                    </button>


           
        </div>
    </div>
</body>

