
<body>
    <div class="container">
        <div>
            <h1>BIEVENUE SUR <b>E-TICKETING</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda</p>

                <!-- <br><br> -->
            <a class="btn btn-success btnBegin" routerLink="/add-ticket"><span class="content">Cliquez pour continuer </span> <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</body>

