
<body>
    <div class="container">
        <div>
            <h1>BIEVENUE SUR <b>E-TICKETING</b></h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo <br>
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo <br>
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo <br>
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda<br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id mollitia laborum at ipsam nemo <br>
                provident repudianda adipisicing elit. Id mollitia laborum at ipsam nemo provident repudianda<br>
                
                <br><br>
            <button class="btn btn-success"><a href="add-ticket">Cliquez pour continuer</a></button>
        </div>
    </div>
</body>

