<img src="../../../assets/img/LOGO.png" id="logo">
<nav class="nav">
    <a class="nav-link" id="inAction" href="#">Home</a>
    <a class="nav-link text-muted" href="#">FAQ</a>
    <a class="nav-link text-muted" href="#">A Propos</a>

</nav>

<div class="container">

  <form>
      <h3 class="col-md-12 col-lg-12">CREER VOS TICKETS, <b class="text-primary">FACILEMENT</b> ET <b class="text-success">RAPIDEMENT</b></h3>
      <!-- <div class="form-group row">
          <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-5">
            <input type="text" placeholder="Entrez votre nom" class="form-control"
            [(ngModel)]="newTicket.id" name="id">
        </div>
      </div> -->
      <div class="form-group row">
        <div class="col-sm-2"></div>
      <label class="col-sm-2 col-form-label">client_id</label>
      <div class="col-sm-5">
          <input type="text" placeholder="Entrez votre nom" class="form-control"
          [(ngModel)]="newTicket.client_id" name="client_id">
      </div>
    </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">categorie_id</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" placeholder="Entrez votre addrèsse Email"
            [(ngModel)]="newTicket.categorie_id" name="categorie_id">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">user_id</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" placeholder="Entrez votre addrèsse Email"
            [(ngModel)]="newTicket.user_id" name="user_id">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">titre</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Entrez le nom de votre entreprise"
            [(ngModel)]="newTicket.titre" name="titre">
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Categorie</label>
        <div class="col-sm-5">
            <select class="form-control" [(ngModel)]="ticket.contenu" name="Categorie">
                <option>(Veuillez choisir bvotre Categorie)</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
        </div>
      </div> -->
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Contenu</label>
        <div class="col-sm-5">
            <textarea placeholder="Dites nous quelque choses" class="form-control"
            [(ngModel)]="newTicket.contenu" name="contenu"></textarea>
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Pieces Jointes</label>
        <div class="col-sm-5">
            <input type="file" class="form-control-file"
            [(ngModel)]="ticket.PiecesJointes" name="PiecesJointes">
        </div>
      </div> -->


      <button type="submit" (click)="addTicket()" class="btn btn-success">Ajouter</button>
      <button class="btn btn-danger btn-lg">Quitter</button>
  </form>

</div>
