<img src="../../../assets/img/LOGO.png" id="logo">
<nav class="nav">
    <a class="nav-link" id="inAction" href="#">Home</a>
    <a class="nav-link text-muted" href="#">FAQ</a>
    <a class="nav-link text-muted" href="#">A Propos</a>

</nav>
<div class="container">
  <div [class]="'alert alert-' + labelColor + ' d-flex justify-content-between'" *ngIf="isInsert || isNotInsert">
    <span class="align-self-center"> {{ responseText }}</span>
    <span class="align-self-baseline" (click)="closeLabel()"><i style="cursor: pointer;" class="fa fa-close"></i></span>
  </div>
  <form novalidate (ngSubmit)="onUpdate(data)" #data="ngForm"> 
      <h3 class="col-md-12 col-lg-12">CREER VOS TICKETS, <b class="text-primary">FACILEMENT</b> ET <b class="text-success">RAPIDEMENT</b></h3>
      <div class="form-group row">
          <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-5">
            <input type="text" placeholder="Entrez votre nom" class="form-control"
            [(ngModel)]="ticket.nom" name="nom"
            required
            #nomVar="ngModel"
            [ngClass]="{
              'is-invalid': nomVar.touched && !nomVar.valid
            }"
            >
            <div class="invalid-feedback">
              <span class="text-danger" *ngIf="nomVar.errors?.required">
                Veuillez renseigner le nom
              </span>
            </div>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-5">
            <input type="email"[value]="ticket.email" class="form-control" placeholder="Entrez votre addrèsse Email"
            [(ngModel)]="ticket.email" 
            name="email"
            required
            #emailVar="ngModel"
            [ngClass]="{
            'is-invalid': emailVar.touched && !emailVar.valid
                      }"
            >
            <div class="invalid-feedback">
              <span class="text-danger" *ngIf="emailVar.errors?.required">
                Veuillez renseigner l'email
              </span>
              <span class="text-danger" *ngIf="emailVar.errors?.email">
                Entrez un email valide
              </span>
            </div>
        </div>
      </div>
     
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Entreprise</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Entrez votre entreprise"
            [(ngModel)]="ticket.entreprise"
            name="entreprise"
            required
            #entrepriseVar="ngModel"
            [ngClass]="{
            'is-invalid': entrepriseVar.touched && !entrepriseVar.valid
             }"
            >
            <div class="invalid-feedback">
              <span class="text-danger" *ngIf="entrepriseVar.errors?.required">
                Veuillez entrer votre entreprise
              </span>
            </div>

        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">titre</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Entrez le nom de votre entreprise"
            [(ngModel)]="ticket.titre" 
            name="titre"
            required
            #titreVar="ngModel"
            [ngClass]="{
            'is-invalid': titreVar.touched && !titreVar.valid
             }"
            >
            <div class="invalid-feedback">
              <span class="text-danger" *ngIf="titreVar.errors?.required">
                Veuillez attribuer un titre à votre problème
              </span>
            </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">telephone</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Entrez le telephone"
            [(ngModel)]="ticket.tel_client" 
            name="tel_client"
            required
            #telVar="ngModel"
            [ngClass]="{
            'is-invalid': telVar.touched && !telVar.valid
                      }"
            >
            <div class="invalid-feedback">
              <span class="text-danger" *ngIf="telVar.errors?.required">
                Veuillez renseigner le téléphone
              </span>
            </div>

        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Categorie</label>
        <div class="col-sm-5">
            <select class="form-control" [(ngModel)]="ticket.categorie_id" 
            name="categorie_id"
            #categorieVar="ngModel"
            required
            [ngClass]="{
                  'is-invalid': categorieVar.touched && !categorieVar.valid
                }"
                >
                <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="categorieVar.errors?.required">
                    Veuillez sélectionner une categorie
                  </span>
                </div>

                <option value="1">1</option>
                <option lvaue="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Contenu</label>
        <div class="col-sm-5">
            <textarea placeholder="Dites nous quelque choses" class="form-control"
            rows="4"
            [(ngModel)]="ticket.contenu" 
            name="contenu"
            #contenuVar="ngModel"
            required
            [ngClass]="{
            'is-invalid': contenuVar.touched && !contenuVar.valid
                }">
                

          </textarea>
          <div class="invalid-feedback">
                  <span class="text-danger" *ngIf="contenuVar.errors?.required">
                    Veuillez expliquer votre problème
                  </span>
                </div>
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2 col-form-label">Pieces Jointes</label>
        <div class="col-sm-5">
            <input type="file" class="form-control-file"
            [(ngModel)]="ticket.PiecesJointes" name="PiecesJointes">
        </div>
      </div> -->
      <div class="button">
        <button class="btn btn-secondary">Quitter</button>
        <button type="submit" class="btn btn-info">Modifier</button>
      </div>

  </form>

</div>
