<section class="ftco-section">
  <div class="container">
        <h3 class="col-md-12 col-lg-12"><b class="text-primary">GESTION DES TICKETS</b></h3>
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-tous-tab" data-toggle="tab" href="#nav-tous" role="tab"
              aria-controls="nav-tous" aria-selected="true">Tous</a>
            <a class="nav-item nav-link" id="nav-resolu-tab" data-toggle="tab" href="#nav-resolu" role="tab"
              aria-controls="nav-resolu" aria-selected="false">Résolus</a>
            <a class="nav-item nav-link" id="nav-non-resolu-tab" data-toggle="tab" href="#nav-non-resolu" role="tab"
              aria-controls="nav-non-resolu" aria-selected="false">Non résolu</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-tous" role="tabpanel" aria-labelledby="nav-tous-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="table-wrap">
                  <table class="table table-responsive-xl">
                    <thead>
                      <tr>

                        <!-- <th>&nbsp;</th> -->
                        <th>ID Ticket</th>
                        <th>Email</th>
                        <th>Entrepise</th>
                        <th>Titre</th>
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="alert" role="alert" *ngFor="let ticket of tickets; let index = index">

                        <td>
                          {{index+1}}
                        </td>
                        <td>
                          {{ticket.email_client}}
                        </td>
                        <td>
                          {{ticket.entreprise_client}}
                        </td>
                        <td>
                          {{ticket.titre}}
                        </td>
                        <td>
                          <span class="badge badge-success">Résolu</span>
                        </td>
                        <div class='action'>
                          <td>
                            <a [routerLink]="['/cpanel/edit-ticket', ticket.id]"><span class="fa fa-edit"></span></a>
                            <button type="button" class="btn btn-link" data-toggle="modal"
                              [attr.data-target]="'#exampleModal' + ticket.id">
                              <i class="fa fa-close text-danger"></i>
                            </button>
                            <!-- Modal -->
                            <a [routerLink]="['/cpanel/ticket-detail', ticket.id]"><span class="fa fa-trash"></span></a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{ ticket.id }}" tabindex="-1"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmer la suppression</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    Êtes-vous sûr de vouloir effectuer cette action?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nom</button>
                                    <button type="button" class="btn btn-primary" (click)="delete(ticket.id)">Oui</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </div>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-resolu" role="tabpanel" aria-labelledby="nav-resolu-tab">...</div>
          <div class="tab-pane fade" id="nav-non-resolu" role="tabpanel" aria-labelledby="nav-non-resolu-tab">...</div>
        </div>
      </div>
    </div>

  </div>
</section>

<style>
  /*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */


</style>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
