<section class="ftco-section">
  <div class="container-fluid">
    <a routerLink="/cpanel/add-ticket-panel" class="btn btn-info">
      <i class="fa fa-plus"></i>&emsp; Ajouter un ticket
    </a>
    <hr>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/cpanel/dashboard"><i class="fa fa-home"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Lister les tickets</li>
    </ol>
  </nav>

  <div class="container">
        <!-- <h3 class="col-md-12 col-lg-12"><b class="text-primary">GESTION DES TICKETS</b></h3> -->
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-tous-tab" data-toggle="tab" href="#nav-tous" role="tab"
              aria-controls="nav-tous" aria-selected="true">Tous</a>
              <a class="nav-item nav-link" id="nav-non-resolu-tab" data-toggle="tab" href="#nav-en-cour" role="tab"
              aria-controls="nav-non-resolu" aria-selected="false">Nouveaux</a>
            <a class="nav-item nav-link" id="nav-resolu-tab" data-toggle="tab" href="#nav-resolu" role="tab"
              aria-controls="nav-resolu" aria-selected="false">En cours</a>
            <a class="nav-item nav-link" id="nav-non-resolu-tab" data-toggle="tab" href="#nav-non-resolu" role="tab"
              aria-controls="nav-non-resolu" aria-selected="false">Clôturés</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-tous" role="tabpanel" aria-labelledby="nav-tous-tab">
            <div class="row">
              <div class="col-md-15">
                <div class="">
                  <table class="table table-responsive-xl">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Entrepise</th>
                        <th>Titre</th>
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="alert" role="alert" *ngFor="let ticket of tickets; let index = index">

                        <td>
                          {{index+1}}
                        </td>
                        <td>
                          {{ticket.email_client}}
                        </td>
                        <td>
                          {{ticket.entreprise_client}}
                        </td>
                        <td>
                          {{ticket.titre}}
                        </td>
                        <td>
                          <span class="badge badge-{{

                            (ticket.statut == -1) ? 'danger'
                           :(ticket.statut == 1) ? 'warning'
                           :(ticket.statut == 2) ? 'success'
                           :'primary'


                          }}">
                            {{

                            (ticket.statut == -1) ? 'Rejeté'
                           :(ticket.statut == 1) ? 'En cours'
                           :(ticket.statut == 2) ? 'Résolu'
                           :'Nouveau'


                          }}</span>
                        </td>
                        <!-- <div class='action'> -->
                          <td class="d-flex justify-content-around">
                            <a class="btn btn-default btn-xs" title="Modifier" [routerLink]="['/cpanel/edit-ticket', ticket.id]"><i class="fa fa-pencil-alt"></i></a>
                            <a class="btn btn-default btn-xs" title="Consulter" [routerLink]="['/cpanel/ticket-detail', ticket.id]"><i class="fa fa-list-alt"></i></a>

                          </td>
                        <!-- </div> -->
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-en-cour" role="tabpanel" aria-labelledby="nav-en-cour">
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <table class="table table-responsive-xl">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Entrepise</th>
                        <th>Titre</th>
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="alert" role="alert" *ngFor="let ticket of newTickets; let index = index">

                        <td>
                          {{index+1}}
                        </td>
                        <td>
                          {{ticket.email_client}}
                        </td>

                        <td>
                          {{ticket.entreprise_client}}
                        </td>
                        <td>
                          {{ticket.titre}}
                        </td>
                        <td>
                          <span class="badge badge-primary">Nouveau</span>
                        </td>
                          <td class="d-flex justify-content-around">
                            <a class="btn btn-default btn-xs" title="Modifier" [routerLink]="['/cpanel/edit-ticket', ticket.id]"><i class="fa fa-pencil-alt"></i></a>
                            <a class="btn btn-default btn-xs" title="Consulter" [routerLink]="['/cpanel/ticket-detail', ticket.id]"><i class="fa fa-list-alt"></i></a>

                          </td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-resolu" role="tabpanel" aria-labelledby="nav-resolu-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <table class="table table-responsive-xl">
                    <thead>
                      <tr>


                        <th>ID</th>
                        <th>Email</th>
                        <th>Entrepise</th>
                        <th>Titre</th>
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="alert" role="alert" *ngFor="let ticket of ticketEnCours; let index = index">


                        <td>
                          {{index+1}}
                        </td>
                        <td>
                          {{ticket.email_client}}
                        </td>
                        <td>
                          {{ticket.entreprise_client}}
                        </td>
                        <td>
                          {{ticket.titre}}
                        </td>
                        <td>
                          <span class="badge badge-warning">En cours</span>
                        </td>
                          <td class="d-flex justify-content-around">
                            <a class="btn btn-default btn-xs" title="Modifier" [routerLink]="['/cpanel/edit-ticket', ticket.id]"><i class="fa fa-pencil-alt"></i></a>
                            <a class="btn btn-default btn-xs" title="Consulter" [routerLink]="['/cpanel/ticket-detail', ticket.id]"><i class="fa fa-list-alt"></i></a>

                          </td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-non-resolu" role="tabpanel" aria-labelledby="nav-non-resolu-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="table-wrap">
                  <table class="table table-responsive-xl">
                    <thead>
                      <tr>

                        <th>ID</th>
                        <th>Email</th>
                        <th>Entrepise</th>
                        <th>Titre</th>
                        <th>Statut</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="alert" role="alert" *ngFor="let ticket of endedTicket; let index = index">

                        <td>
                          {{index+1}}
                        </td>
                        <td>
                          {{ticket.email_client}}
                        </td>
                        <td>
                          {{ticket.entreprise_client}}
                        </td>
                        <td>
                          {{ticket.titre}}
                        </td>
                        <td>
                          <span class="badge badge-{{
                            (ticket.statut == -1) ? 'danger'
                           : 'success'
                           }}">{{

                          (ticket.statut == -1) ? 'Rejeté'
                          : 'Résolu'

                          }}</span>
                        </td>
                          <td class="d-flex justify-content-around">
                            <a class="btn btn-default btn-xs" title="Modifier" [routerLink]="['/cpanel/edit-ticket', ticket.id]"><i class="fa fa-pencil-alt"></i></a>
                            <a class="btn btn-default btn-xs" title="Consulter" [routerLink]="['/cpanel/ticket-detail', ticket.id]"><i class="fa fa-list-alt"></i></a>

                          </td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<style>
  /*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */


</style>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
