<section class="ftco-section">
  <div class="container">
        <h3 class="col-md-12 col-lg-12"><b class="text-primary">GESTION DES TICKETS</b></h3>

    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-responsive-xl">
            <thead>
              <tr>
                <!-- <th>ID Ticket</th> -->
                <!-- <th>&nbsp;</th> -->
                <th>Email</th>
                <th>Entrepise</th>
                <th>Contenu</th>
                <th>Titre</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody *ngFor="let ticket of tickets">

              <tr>
                 
                <!-- <td>
                  {{ticket.}}
                </td> -->
                <td>
                  {{ticket.email}}
                </td>
                <td>
                  {{ticket.entreprise}}
                </td>
                <td>
                  {{ticket.contenu}}
                </td>
                <td>
                  {{ticket.titre}}
                </td>
                <td>
                        <!-- <button type="submit" (click)="addTicket()" class="btn btn-success">Ajouter</button> -->

                  <a href="#"><span class="fa fa-edit"></span></a>
                  <!-- <a href="#"><span class="fa fa-trash" (click)="supprimerTicket(ticket)"></span></a> -->
                </td>
              </tr>
                
                  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 

</style>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
