<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <i class="fa fa-plus"></i>&emsp;Ajouter Intervention
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter Intervention</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">Note<span class="etoile">*</span></label>
                <textarea 
                class="form-control" rows="3" cols="5"
                name="note"           
                >
                </textarea>
          </div>

          <div class="form-group">
            <label class="col-sm-1 col-form-label" >Sous Traitant<span class="etoile">*</span></label>
                <select class="form-control"  
                name="categorie_id"
                value="{{ticket.categorie}}"
                disabled="disabled"
                    >           
                </select>
          </div>


          <div class="form-group">
            <label class="col-sm-3 col-form-label" >Terminé?<span class="etoile">*</span></label>
              <div class="form-check">

                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                       Oui
                     </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      Non
                    </label>
                  </div>
                </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <a routerLink="/cpanel/edit-intervention" class="btn btn-secondary">
      <i class="fa fa-edit"></i>&emsp; Modifier Intervention
    </a>
    <hr>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/cpanel/dashboard"><i class="fa fa-home"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Détail Du Ticket</li>
    </ol>
  </nav>


  <!-- <h3 class="col-md-12 col-lg-12"><b class="text-primary">GESTION DES TICKETS</b></h3> -->
<div class="row">
<div class="col-md-12">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-detail-tab" data-toggle="tab" href="#nav-detail" role="tab"
        aria-controls="nav-tous" aria-selected="true">Détail</a>
        <a class="nav-item nav-link" id="nav-intervenant-tab" data-toggle="tab" href="#nav-intervenant" role="tab"
        aria-controls="nav-non-resolu" aria-selected="false">Intervenants</a>
      
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
      <div class="row">
        <div class="col-md-15">
          <div class="detail">
            <section class="u-clearfix u-section-1" id="sec-6359">
              <div class="u-clearfix u-sheet u-sheet-1">
               
                 <span
                 data-animation-name="bounceIn" 
                 data-animation-duration="1000" 
                 data-animation-delay="0"
                  data-animation-direction=""
                 class="badge badge-{{ 
                                      
                  (ticket.statut == -1) ? 'danger' 
                 :(ticket.statut == 1) ? 'warning' 
                 :(ticket.statut == 2) ? 'success' 
                 :'primary'
                    
                
                }}">{{ 
                  
                  (ticket.statut == -1) ? 'Rejeté' 
                 :(ticket.statut == 1) ? 'En cours' 
                 :(ticket.statut == 2) ? 'Résolu' 
                 :'Nouveau'
                    
                
                }} 
                </span>

                <div class="form-row"> 
                  <div class="form-group col-md-6">
                  <label>Titre<span class="etoile">*</span> </label>
                      <input class="titres form-control" 
                      type="text"  
                      placeholder="Attribuez un titre à votre problème"
                      value="{{ticket.titre}}"
                      name="titre"
                      disabled="disabled" />
                </div>

              </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Nom Du Client<span class="etoile">*</span></label>
                  <input  type="text" 
                  placeholder="Entrez votre nom" 
                  class=" form-control"
                  name="nom"
                  value="{{ticket.nom}}"
                  disabled="disabled"
                  >  
                  </div>
                  <div class="form-group col-md-6">
                    <label>E-mail<span class="etoile">*</span></label>
                        <input type="email" 
                        class="form-control" 
                        placeholder="Entrez votre addrèsse Email"
                        name="email"
                        value="{{ticket.email}}"
                        disabled="disabled"
                        >                   
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="col-sm-1 col-form-label">Entreprise<span class="etoile">*</span></label>
                    <input type="text" 
                    class="form-control" 
                    placeholder="Entrez votre entreprise"
                    name="entreprise"
                    value="{{ticket.entreprise}}"
                    disabled="disabled"
                    >
                  </div>
                  <div class="form-group col-md-6">
                    <label class="col-sm-1 col-form-label">Téléphone</label>
                        <input type="text" class="form-control" 
                        name="tel"
                        value="{{ticket.tel}}"
                        disabled="disabled"
                        >           
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="col-sm-1 col-form-label" >Catégorie<span class="etoile">*</span></label>
                        <select class="form-control"  
                        name="categorie_id"
                        value="{{ticket.categorie}}"
                        disabled="disabled"
                            >           
                          
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="col-sm-5 col-form-label">Sous Traitant </label>
                        <input type="text" class="form-control" 
                        name="sous_traitant"
                        value="{{ticket.nom_client}}"
                        disabled="disabled"
                        >        
                  </div>
                </div>
          
                <div class="form-group row">
                <label class="col-sm-1 col-form-label">Contenu<span class="etoile">*</span></label>
                    <textarea 
                    class="form-control" rows="5" cols="20"
                    name="contenu"
                    value="{{ticket.contenu}}"
                    disabled="disabled"
                    >
                    </textarea>
                </div>
              </div>
            </section>

            
          </div>
        </div>  

    </div>
  </div>
        
    <div class="tab-pane fade" id="nav-intervenant" role="tabpanel" aria-labelledby="nav-intervenant">
      <div class="row">
        <div class="col-md-12">
          <div class="">
           


          </div>
        </div>
      </div>
    </div>
   

           
<div class="container" >
   
  
</div>
