<div class="container" >
    <section class="u-clearfix u-section-1" id="sec-6359">
    <div class="u-clearfix u-sheet u-sheet-1">
     
       <span
       data-animation-name="bounceIn" 
       data-animation-duration="1000" 
       data-animation-delay="0"
        data-animation-direction=""
       class="badge badge-{{ 
                            
        (ticket.statut == -1) ? 'danger' 
       :(ticket.statut == 1) ? 'success' 
       :(ticket.statut == 2) ? 'warning' 
       :'primary'
          
      
      }}">{{ 
        
        (ticket.statut == -1) ? 'Non Résolu' 
       :(ticket.statut == 1) ? 'Résolu' 
       :(ticket.statut == 2) ? 'En Cours' 
       :'Nouveau'
          
      
      }} 
   
      </span>
      <blockquote class="u-border-6 u-border-black u-indent-18 u-text u-text-1">{{ticket.titre}}</blockquote>
      <span class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-2">description</span>
      <div class="u-container-style u-expanded-width-xs u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <span class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-3">autres informations</span>
          <p class="u-custom-font u-font-playfair-display u-text u-text-10">Nom Du Client:   {{ticket.nom}}<br>
            <br>Email:  {{ticket.email}} <br>
            <br>Entreprise:  {{ticket.entreprise}}<br>
            <br>Sous Traitant:   {{ticket.nom_client}}
          </p>
          
        </div>
      </div>
      <p class="u-custom-font u-font-playfair-display u-text u-text-7">{{ticket.contenu}}
      </p>
      <span  class class="u-btn u-btn-round u-button-style u-gradient u-none u-radius-4 u-text-body-alt-color u-btn-5">piece jointes</span>
      <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-effect-hover-liftUp u-gallery-item u-radius-1 u-shape-round u-gallery-item-1"  data-target="_blank">
            <div class="u-back-slide u-back-slide-1" data-image-width="1122" data-image-height="750">
              <img class="u-back-image u-expanded" src="images/c47273dfc1e501866c9073171076f29a.jpeg">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-effect-hover-liftUp u-file-link u-gallery-item u-radius-1 u-shape-round u-gallery-item-2"  data-target="_blank">
            <div class="u-back-slide u-back-slide-2" data-image-width="1122" data-image-height="750">
              <img src="images/c47273dfc1e501866c9073171076f29a.jpeg" alt="" data-image-width="2000" data-image-height="1333" class="u-back-image u-expanded">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
          <div class="u-effect-fade u-effect-hover-liftUp u-gallery-item u-radius-1 u-shape-round u-gallery-item-3"  data-target="_blank">
            <div class="u-back-slide u-back-slide-3" data-image-width="1260" data-image-height="685">
              <img class="u-back-image u-expanded" src="images/1f64830252571bb5126dccd1378e757a.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3">
              <h3 class="u-gallery-heading"></h3>
              <p class="u-gallery-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-1b4f">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </section>
</div>
